/* ------ HEADER ------------------------------------- */
.logo {
  width: 18rem;
  height: 18rem;
  background-image: url('../assets/logo.png');
  margin-left: 37rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between; /* pushes first item left, last item right */
  gap: 2rem;                       /* space between logo and nav */
  padding: 1rem 2rem;
  height: 8rem; /* fixed height so header doesn't stretch */
  background-image: url('../assets/header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* optional: if you want nav buttons in a row */
.nav-flex {
  display: flex;
  flex-direction: column;  /* stack items vertically */
  align-items: flex-end;   /* align buttons to the right edge */
  margin-top: 4.7rem; /* moves the whole button stack down */
  margin-right: -1rem;  /* moves buttons inward from right edge */

}


.nav-link {
  width: 7rem;
  height: 1.7rem;
  background-size: cover;   /* fills the button completely */
  background-position: center;
  background-repeat: no-repeat;
  gap: 1rem;
}




.nav-home {
  background-image: url('../assets/home.png');
}


.nav-acting {
  top: 2.8rem; 
  background-image: url('../assets/acting.png');
}



/* ------ FOOTER ------------------------------------- */
.contact {
  background-color: rgb(47, 44, 44);
  color: antiquewhite;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between; /* icons left, credit right */
  align-items: center;
  flex-wrap: wrap; /* makes it wrap on small screens */
}

/* ICONS */

.contact-icon {
  display: inline-block;
  min-width: 6vw;
  height: 10vh;
  background-size: contain ;
  background-repeat: no-repeat ;
  background-position: center ;
  margin-right: -3vh;
}

.contact-icon:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.4);
  background-color: rgba(255,255,255,0.1);
}



/* Specific icons */

.contact-icon.email {
  background-image: url('../assets/email.png');
}

.contact-icon.insta {
  background-image: url('../assets/instalogo.png');
}

.contact-icon.youtube {
  background-image: url('../assets/youtube.png');
}

/* Resume button */
.resume-btn {
  font-size: 1.2rem;
  background: none;
  border: 2px solid antiquewhite;
  color: antiquewhite;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
}

/* Footer text */

.footer-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  background-color: rgb(47, 44, 44);
  color: antiquewhite;
  width: 97%;
  padding: 1.5%;
  position: fixed;
  left: 0;
  bottom: 0;
  
}

